:root {
    /* --BigLaptop: ; */
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0%;
}

.cursor-pointer {
    cursor: pointer;
}

.container {
    margin: 0 5%;
    margin-top: 2%;

}

.head-content {
    display: flex;
}

ul {
    text-decoration: none;
    list-style-type: none;
}

li {
    margin-left: 105px;
    font-weight: bolder;
    color: #45454C;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #DF9300;
}

.head-menu {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.head-txt {
    display: flex;
}

.header-line {
    margin-top: 1%;
    border-bottom: solid;
    border-bottom-width: 10px;
    border-color: #16347F;
}

.line {
    margin-top: 4%;
    border-bottom: solid;
    border-bottom-width: 10px;
    border-color: #16347F;
}

.first-block {
    display: grid;
    background-color: #E5E5E5;
    min-height: 600px;
    border-radius: 30px;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    overflow: hidden;
}

.first-img {
    grid-column: 1 /span 1;
    grid-row: 1 /span 2;
    margin-top: 30%;
}

.first-block-txt {
    grid-column: 2/span 1;
    grid-row: 2/span 2;
    font-size: 50px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #16347F;
}

.first-block-txt p {
    margin: 0;
}

.second-block {}

.block-title {
    color: #45454C;
    font-weight: bold;
    font-size: 45px;
    text-align: center;
}

.second-img {
    grid-column: 3/span 1;
    grid-row: 2 /span 2;
    margin-top: 20%;

}

.main-content-firstblockimg {
    margin-top: 5%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("./img/kran2.jpg");
    background-position: 0 8%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 40px;
}

.block-img1 {
    color: white;
    font-size: 30px;
    align-items: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;

}

.first-service {
    padding-top: 8%;
    padding-bottom: 9%;
}

.first-service:hover {
    color: #DF9300;
}

.main-content-secondblockimg {

    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("./img/kran1.webp");
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 40px;
}

.block-img2 {
    color: white;
    font-size: 30px;
    align-items: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;

}

.second-service {
    padding-top: 11%;
    padding-bottom: 11%;
}

.second-service:hover {
    color: #DF9300;
}

.main-content-details {
    background-color: #3D628E;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 40px;
}

.block-details {
    color: white;
    font-size: 40px;
    align-items: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

.txt-details-block {
    padding: 13%;
}

.block-contact {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    margin-bottom: 10%;
    gap: 5vw;
    flex-wrap: wrap;
}

.block-contact * {
    font-family: 'Raleway';
    font-size: 33px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: center;
    text-decoration: none;
    color: black;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 10px;
    flex: 1;
    min-width: 300px;
}

.card img {
    width: 55px;
    margin-bottom: 40px;
}

.number-phone {
    align-items: center;
    background-color: #E5E5E5;
    width: 440px;
    border-radius: 20px;
}

.number-phone:hover {
    background-color: #cac8c8;
}

.number-txt {
    font-size: 30px;
    font-weight: 700;
}

.location {

    background-color: #E5E5E5;
    width: 440px;
    font-weight: 700;
    border-radius: 20px;
}

.location:hover {
    background-color: #cac8c8;
}

.address {
    font-size: 30px;
    font-weight: 700;
}

.email {
    background-color: #E5E5E5;
    width: 440px;
    font-weight: 700;
    border-radius: 20px;
}

.email:hover {
    background-color: #cac8c8;
}

.email-txt {
    font-size: 30px;
    font-weight: 700;
}

/* Big laptop */
@media screen and (max-width: 1440px) {
    .first-block {
        /* background: red; */
    }

    .first-block-txt {
        align-self: center;
        padding: 20px;
        grid-row: 1 /span 3;
    }
}

/* Laptop */
@media screen and (max-width: 1300px) {
    .first-block {
        /* background: green; */
    }

    .first-block-txt {
        align-self: center;
        padding: 20px;
        grid-row: 1 /span 3;
        font-size: 35px;
    }

    .block-title {
        font-size: 30px;
    }

    .first-service,
    .second-service {
        font-size: 25px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* Laptop */
@media screen and (max-width: 1040px) {
    .first-block {
        /* background: blue; */
    }

    .first-block-txt {
        align-self: center;
        padding: 20px;
        grid-row: 1 /span 3;
        grid-column: 1/span 3;
        z-index: 2;
        background-color: #ffffffbf;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .txt-details-block {
        font-size: 35px;
    }

}

@media screen and (max-width: 900px) {
    .first-block {
        /* background: blue; */
    }

    .head-txt {
        display: none;
    }

    .first-service,
    .second-service {
        font-size: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .txt-details-block {
        font-size: 30px;
    }

}

@media screen and (max-width: 768px) {
    .block-title {
        font-size: 23px;
    }

    .first-service,
    .second-service {
        font-size: 18px;
    }

    .txt-details-block {
        font-size: 23px;
    }
}